@use "src/styles/variables" as *;
@use "src/styles/breakpoints" as *;

.form-input{
    all: unset;
    box-shadow: 0px 0px 0px transparent !important;
    border: 1px solid var(--border) !important;
    background-color: var(--background);
    font-size: $font-size-8 !important;
    transition: all 0.25s;
    min-height: 30px;
    min-width: 240px;
    width: calc(100% - 26px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--light) !important;
    padding: 6px 12px;
    border-radius: 8px;
    text-align: start;
    &:hover,&:focus{
        font-weight: 200 !important;
        color: var(--light-hover) !important;
        box-shadow: var(--box-shadow-inset) !important;
        font-size: $font-size-8 * 0.91 !important;
    }
}

.svg-with-input{
    display: flex;
    align-items: center;
    svg{
        width: 32px;
        height: 32px;
        margin: 0px 8px;
        path,rect{
            stroke: var(--primary-op30);
        }
        circle{
            fill:  var(--primary-op30);
        }
    }
    &:has(input:valid){
        svg{
            path,rect{
                stroke: var(--primary);
            }
            circle{
                fill:  var(--primary);
            }
            filter: drop-shadow(var(--drop-shadow-primary));
        }
    }
}