@use "src/styles/variables" as *;
@use "src/styles/breakpoints" as *;

.password-reset-page{
    width: 100vw;
    height: 100vh;
    grid-area: 2 / 2 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    .password-reset-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .password-reset{ 
            width: 450px;
            border-radius: 8px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 16px;
            margin-bottom: 250px;
            .password-reset-logo{
                display: grid;
                width: 300px;
                height: 150px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                svg{
                    margin: 0px auto;
                    grid-area: 1 / 1 / 1 / 1;
                    width: 150px;
                    height: 150px;
                    #SvgjsG2652{
                        fill: var(--secondary);
                    }
                }
                .password-reset-logo-text{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    font-size: $font-size-4;
                    width: 300px;
                    font-weight: 500;
                    margin-top: 128px;
                    grid-area: 1 / 1 / 1 / 1;
                    transition-property: opacity, margin, filter;
                    transition-duration: 1s;
                    opacity: 0;
                    filter: blur(16px);
                }
                &:hover{
                    svg{
                        #SvgjsG2652{
                            fill: var(--primary) !important;
                        }
                        filter: drop-shadow(var(--drop-shadow-primary));
                    }
                    .password-reset-logo-text{
                        margin-top: 24px;
                        opacity: 1;
                        filter: blur(0px);
                    }
                }
            }
            .password-reset-header{
                font-size: $font-size-3;
                width: 600px;
            }
            .password-reset-form{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 16px;
                .form-row{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: $font-size-8;
                    button{
                        min-width: 200px;
                    }
                }
            }
        }
        .go-back{
            min-width: 50px;
            min-height: 50px;
            border-radius: 50%;
            padding: 8px;
            transform: translate(775px,0px);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: var(--box-shadow);
            cursor: pointer;
            svg{
                transform: rotate(270deg);
                width: 40px;
                height: 40px;
                path{
                    fill: var(--primary);
                }
            }
            &:hover{
                box-shadow: var(--box-shadow-inset);
                background-color: var(--primary);
                svg{
                    path{
                        fill: var(--dark);
                    }
                }
            }
        }
    }
}