@use "src/styles/colors" as *;
@use "src/styles/font" as *;

// Font Size
$font-size-1: 9rem;
$font-size-2: 6rem;
$font-size-3: 4.5rem;
$font-size-4: 3.2rem;
$font-size-5: 2.8rem;
$font-size-6: 1.9rem;
$font-size-7: 1.4rem;
$font-size-8: 1rem;
$font-size-9: 0.7rem;


//font
$primary-font: "NunitoSans", sans-serif;



body{
    --primary: var(--g-primary);
    --primary-hover: var(--g-primary-op70);

    --secondary: var(--g-primary-op50);
    --primary-op30: var(--g-primary-op30);

    --box-shadow-inherit: 
        0px 0px 0px transparent,
        0px 0px 0px transparent,
        inset 0px 0px 0px transparent,
        inset 0px 0px 0px transparent;

    --drop-shadow-primary: 0px 0px 10px var(--g-primary-op30);
    --drop-shadow-primary-strong: 0px 0px 10px var(--g-primary-op70);
}


body.dark-theme{
    
    --background: var(--g-background-dark);

    --light: var(--g-light);
    --light-hover: var(--g-light-op07);

    --dark: var(--g-dark);

    --border: var(--g-gray-1-op03);

    --font-color: var(--g-light);

    --box-shadow: 
        -4px -4px 10px var(--g-gray-1-op05),
        4px 4px 10px var(--g-black-op03),
        inset 0px 0px 0px var(--g-gray-1-op03),
        inset 0px 0px 0px var(--g-black-op05);

    --box-shadow-inset:
        0px 0px 0px var(--g-gray-1-op05),
        0px 0px 0px var(--g-black-op03), 
        inset -4px -4px 10px var(--g-gray-1-op03),
        inset 4px 4px 10px var(--g-black-op05);
    
}

body.light-theme{
    --background: var(--g-background-light);

    --light: var(--g-dark);
    --light-hover: var(--g-dark-op07);

    --dark: var(--g-light);

    --border: var(--g-gra-2-op30);

    --font-color: var(--g-dark);

    --box-shadow: 
        -5px -5px 9px var(--g-white-op45),
        5px 5px 9px rgba(94,104,121,0.3),
        inset 0px 0px 0px var(--g-white-op45),
        inset 0px 0px 0px rgba(94,104,121,0.3);

    --box-shadow-inset:
        0px 0px 0px var(--g-white-op45),
        0px 0px 0px rgba(94,104,121,0.3), 
        inset -5px -5px 9px var(--g-white-op45), 
        inset 5px 5px 9px rgba(94,104,121,0.3);
    
}