@use "src/styles/variables" as *;
@use "src/styles/breakpoints" as *;

.navbar{
    display: flex;
    width: 100vw;
    z-index: 101;
    padding: 24px 128px;
    justify-content: space-around;
    align-items: flex-start;
    .buttons{
        display: flex;
        align-items: flex-start;
        gap: 16px;
        .theme-box{
            height: 24px;
            margin: 14px 0px 14px -8px;
            svg{
                width: 24px;
                height: 24px;
                transition: all 0.25s;
                path{
                    stroke: var(--primary);
                }
            }
        }
    }
    .account-and-media{
        display: flex;
        gap: 24px;
        .media-container{
            display: flex;
            align-items: center;
            gap: 8px;
            .media{
                background-color: var(--background);
                padding: 12px;
                height: 24px;
                cursor: pointer;
                border-radius: 50%;
                border: 1px solid var(--border);
                transition: all 0.25s;
                svg{
                    width: 24px;
                    aspect-ratio: 1 / 1;
                    transition: all 0.25s;
                    path{
                        fill: var(--light);
                    }
                }
                &:hover{
                    box-shadow: var(--box-shadow-inset);
                    svg{
                        scale: 0.91;
                        path{
                            fill: var(--light-hover);
                        }
                    }
                }
            }
        }
        .account{
            display: flex;
            gap: 16px;
        }
    }
}