@use "src/styles/variables" as *;
@use "src/styles/breakpoints" as *;

body.dark-theme{
    .checkbox-wrapper{
        input{
            &:checked{
                &::before{
                    font-weight: bold;
                }
            }
        }
    }
}

.checkbox-wrapper{
    display: flex;
    padding: 4px;
    justify-content: flex-start;
    align-items: center;
    input{
        all: unset;
        min-height: 24px;
        min-width: 24px;
        border: 1px solid var(--border);
        border-radius: 8px;
        box-shadow: var(--box-shadow-inherit);
        transition: all 0.25s;
        font-size: $font-size-8;
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:checked):hover{
            font-size: $font-size-8 * 0.91;
            box-shadow: var(--box-shadow-inset);
            border: 1px solid var(--primary);
            &::before{
                content: '✓';
                color: var(--primary);
            }
        }
        &:checked{
            border: 1px solid var(--primary);
            background-color: var(--primary);
            &::before{
                content: '✓';
                color: var(--dark);
            }
        }
        
    }
    .text{
        margin-left: 8px;
        font-size: $font-size-8;
    }
}