@use "src/styles/variables" as *;
@use "src/styles/breakpoints" as *;

.homepage{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: 3 / 3 / 3 / 3;
    align-items: center;
    background: var(--background);
    .header{
        width: 70%;
        margin-top: 24px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 24px;
        padding: 0px 24px;
        .header-title{
            font-size: $font-size-3;
            font-weight: bold;
        }
    }
}